$accent-color-red: #e60000;
$text-color-light: #fff;

.list-item {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-auto-flow: column;
  align-items: center;
  gap: 1rem;

  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color-red;
    color: $text-color-light;
    border-radius: 100%;
    width: 1.25rem;
    height: 1.25rem;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  img {
    opacity: 0.5;
    width: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .del-btn:hover {
    filter: invert(18%) sepia(58%) saturate(5955%) hue-rotate(355deg)
      brightness(82%) contrast(126%);
  }
}
