.section-header {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  border-bottom: 2px solid #000;

  img {
    justify-self: flex-end;
    opacity: 0.5;
    width: 1rem;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .del-btn:hover {
    filter: invert(18%) sepia(58%) saturate(5955%) hue-rotate(355deg)
      brightness(82%) contrast(126%);
  }
}
